.bg-orinoco {
    background-color: #f3e9f1;
}

.bg-pastel-blue {
    background-color:  #b4c7ff;

}

.bg-pastel-pink {
    background-color:  #fdc4f8;

}

.bg-gold{
    background-color: #e4c165;
}

.text-color{
    color: #e4c165;
}

